/venv
# Byte-compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Python dependency management
*.env
Pipfile.lock
poetry.lock

# Test and coverage output
.coverage
*.cover
coverage.xml
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

